# Practical Session 2: Basic Data Manipulation with Python - Titanic Project

![Some text here](https://www.encyclopedia-titanica.org/images/titanic-fp-southampton-banner1.jpg)

RMS Titanic was a British passenger liner operated by the White Star Line that sank in the North Atlantic Ocean on 15 April 1912, after striking an iceberg during her maiden voyage from Southampton to New York City.

Of the estimated 2,224 passengers and crew aboard, more than 1,500 died, making the sinking at the time one of the deadliest of a single ship and the deadliest peacetime sinking of a superliner or cruise ship to date.

We will work with real data from the first -and last- voyge of the Titanic, to discover what really happened to the people who sailed on RMS Titanic.

For this project, you should work with your team for some time, then we will share the results with the class.

You can find some more info about the people who sailed on the Titanic here:

https://www.encyclopedia-titanica.org/

Also, the Titanic data is one of the introductory competitions of Kaggle. If you feel like trying to participate you can find the data description below:

https://www.kaggle.com/c/titanic/data

## First things first - show me the data

The data we will work with comprises of information about all the people who sailed with titanic. It is given as a single comma separated values file.

In [ ]:
import pandas as pd
titanic = pd.read_csv("TitanicData.csv")

Let's see what we loaded

In [ ]:
titanic.head(10)

In [ ]:
titanic.info()

Note that some values are null. We might need to deal with this at some point. Some columns are categorical / string etc (see the "object" ones).

## Exploration

<font color="blue">**Exercise:** Describe the numerical columns</font>

In [ ]:
# Your Code Here

<font color="blue">**Exercise:** Make a histogram of the Age of the passengers travelling in the Titanic. Use 15 bins, and change the color of the plot to your liking.</font>

>Hint: have a look at the matplotlib's `plt.hist()` function, or the pandas' `Series.plot.hist()`

In [ ]:
#Your Code Here

<font color="blue">**Exercise:** Do the same with the fares, then find out what is the value at the 75% percentile (i.e. find the fare X that splits the titanic passengers in two parts: 75% of the passengers paid less than X and 25% paid more)</font>

>Hint: Have a look at the pandas function `Series.quantile()`

In [ ]:
#Your Code Here

## Surviving the Titanic

<font color="blue">**Exercise:** What was the chance of surviving of someone who paid more than 100 GBP for their ticket?</font>

In [ ]:
# Your Code Here

<font color="blue">**Exercise:** Make a function that given a fare value of F calculates what percentage of people survived who had paid F or less. Use this function to plot the rate of survival against the fare paid for the fairs up until the 0.75 quantile (75% percentile)</font>

In [ ]:
#Your Code here

<font color="blue">**Exercise:** Have a look at your plot and give your interpretation.</font>

---

*Your answer here*

...

---

## How much would it have cost me to travel first class?

<font color="blue">**Exercise:** Add a column with the Fare value in todays GBP. take into account that 1 GBP of 1915 would be worth 109.53 GBP in 2022 (source: https://www.in2013dollars.com/uk/inflation/1915?amount=1, accessed 10/2/2022) </font>

In [ ]:
#Your Code Here

<font color="blue">**Exercise:**  What are the key statistics for the fares in 2020 value of the different classes?</font>

>Hint: Have a look at the pandas `DataFrame.groupby()` function, and use `DataFrame.describe()` to get the key statistics

In [ ]:
#Your Code Here

According to your statistics, what is the minimum price paid by someone travelling in each of the three classes? If you have done this right, you should see that there are passengers that have paid 0 in every class... This is a bit strange, and not good for our statistics. These were probably crew members.

<font color="blue">**Exercise:** Print out the names of all passengers that paid 0 fare</font>

In [ ]:
#Your Code Here

<font color="blue">**Exercise:** Calculate again the key statistics for the fares in 2022 value of the different classes, but this time, removing any passengers that have paid a fare of 0.</font>

In [ ]:
#Your Code Here